.videoWrapper { 
  max-width:945px;
  margin-left:20px;
}

.active { 
  fill:darkorange;
  stroke:darkorange;
}

.clickableBoundedInstant{
  cursor:pointer;
}

.scorepane { 
  min-height: 460px;
  max-height: 460px;
}

.errorDetected { 
  fill:black;
  stroke:black;
  -webkit-animation-name: errorDetected; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration:0.3s; /* Safari 4.0 - 8.0 */
  animation-name: errorDetected;
  animation-duration:0.3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes errorDetected { 
  from {fill:black; stroke:black;}
  to {fill:red; stroke:red;}
}

@keyframes errorDetected { 
  from {fill:black; stroke:black;}
  to {fill:red; stroke:red;}
}

#pageControlsWrapper {
  border-radius:10px;
  border: 1px solid rgb(255,102,0);
  max-width:945px;
  margin-left:20px;
  height:1.5em;
  display:flex;
  justify-content:space-between;
  padding-left:.3em;
  padding-right:.3em;
  padding-top:.3em;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(255, 102, 0);
}

#pageControlsWrapper.following{
  background: rgb(255,102,0);
  background: linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(223,157,7,1) 50%, rgba(255,102,0,1) 100%);
  color:white;
}

#pageControlsWrapper #prev, #pageControlsWrapper #next { 
  cursor:pointer;
}

#pageControlsWrapper #prev.following, #pageControlsWrapper #next.following { 
  visibility: hidden;
}


#selectWrapper { 
  clear:both;
  margin-left:20px;
}

.loadingMsg { 
  margin-left:20px;
}
