body { 
  font-family: sans-serif;
}

#zoomBox { 
  position: fixed;
  z-index: 1;
  background: white;
  border: 1px solid darkorange;
  border-radius:20px;
}

.zoomBoxLine { 
  fill:darkorange !important;
  stroke:darkorange !important;
}

.videoWrapper { 
  max-width:945px;
  margin-left:20px;
}

.active { 
  fill:darkorange;
  stroke:darkorange;
}

.deleted {
  fill: #00aaff;
  stroke: #00aaff;
}

.inserted { 
  fill: #ff6666;
  stroke: #ff6666;
}

.wasActive{ 
  fill:black;
  stroke:black;
  -webkit-animation-name: wasActive; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration:0.3s; /* Safari 4.0 - 8.0 */
  animation-name: wasActive;
  animation-duration:0.43;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes wasActive { 
  from{fill:darkorange; stroke:darkorange}
  to{fill:black; stroke:black;}
}

@keyframes wasActive { 
  from{fill:darkorange; stroke:darkorange}
  to{fill:#663300; stroke:#663300;}
}

.scorepane { 
  min-height: 460px;
  max-height: 460px;
  display:block;
  position: relative;
  z-index: -1;
}

.scorepane.featureVis { 
  min-height: 230px;
  max-height: 230px;
}

#instantBoundingBoxes { 
  position: absolute;
}

.errorDetected { 
  fill:black;
  stroke:black;
  -webkit-animation-name: errorDetected; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration:0.3s; /* Safari 4.0 - 8.0 */
  animation-name: errorDetected;
  animation-duration:0.3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes errorDetected { 
  from {fill:black; stroke:black;}
  to {fill:red; stroke:red;}
}

@keyframes errorDetected { 
  from {fill:black; stroke:black;}
  to {fill:red; stroke:red;}
}

#pageControlsWrapper {
  border-radius: 10px;
  border: 1px solid rgb(255,102,0);
  max-width: 945px;
  margin-left: 20px;
  height: 1.3em;
  display: flex;
  justify-content: space-between;
  padding-left: .3em;
  padding-right: .3em;
  font-weight: bold;
  max-width: 1253px;
  color: rgba(255, 102, 0);
}

#pageControlsWrapper.featureVis { 
  max-width: 1253px;
}

#pageControlsWrapper.following{
  background: rgb(255,102,0);
  background: linear-gradient(90deg, rgba(255,102,0,1) 0%, rgba(223,157,7,1) 50%, rgba(255,102,0,1) 100%);
  color:white;
}

#pageControlsWrapper #prev, #pageControlsWrapper #next { 
  margin-top:.1em;
  cursor:pointer;
}

#pageControlsWrapper.following #prev, #pageControlsWrapper.following #next {
 cursor:default;
} 

#selectWrapper { 
  clear:both;
  margin-left:20px;
  padding-top:20px;
  padding-bottom:20px;
}

.loadingMsg { 
  margin-left:20px;
}

#logoWrapper { 
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin-left: 20px;
  z-index:-2;
  cursor:pointer;
}

#logoWrapper.featureVis { 
  max-width: 1765px;
}

#logoWrapper #trompaLogo { 
  height:32px;
  margin-top:20px;
}

#logoWrapper #mdwLogo { 
  height:64px;
}

.hidden {
  visibility:hidden;
}

.removedFromDisplay { 
  display: none;
}

#featureVisContainer, #featureVisContainerLoading {
  margin-top: 80px;
  margin-bottom:-80px;
  overflow:visible;
  height:auto;
  width:1280px;
}

#tempoCurve, #dynamicsVis svg { 
  display:block;
  margin-block: .5em;
}

#dynamicsVis svg { 
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(220, 220, 220, .2) 5%, rgba(220, 220, 220, .2) 95%, rgba(255, 255, 255, .2) 100%);
}

#tempoCurve { 
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(220, 220, 220, .2) 5%, rgba(220, 220, 220, .2) 95%, rgba(255, 255, 255, .2) 100%);
}

#featureVisContainer line, #featureVisContainer ellipse { 
  stroke:lightgrey;
  fill: lightgrey;
  cursor: pointer;
  display:block;
}

#featureVisContainer line.currentTl, #featureVisContainer ellipse.currentTl, #featureVisContainer polygon.currentTl{
  stroke:rgb(255, 102, 0);
  fill:rgb(255, 102, 0);
  stroke-width:2px;
}

#featureVisContainer line.active, #featureVisContainer ellipse.active{
  stroke:orange !important;
  fill:orange !important;
}

#featureVisContainer line.barLineAttr { 
  stroke:lightgrey;
}

#featureVisContainer line.bpmMarker { 
  stroke-dasharray:1;
  stroke:lightgrey;
}

#featureVisContainer line.estimated { 
  stroke-dasharray: 1.5;
}

#featureVisContainer text.bpmLabel {
  font-size: 6px;
  fill: lightgrey;
}

.clickableBoundedInstant { 
  cursor:pointer;
}

#dynamicsVis ellipse, #dynamicsVis .dynamicsConnector,
#tempoCurve ellipse, #tempoCurve .tempoConnector{ 
  stroke:black;
  fill:black;
  stroke-width:1px;
}

line.dynamicsConnector.active{
  stroke:red;
  fill:red;
}

.visLabel { 
  position:relative;
  top: -40px;
  font-size: xx-small;
}

#dynamicsLegend { 
  position:relative;
  top: -60px;
  font-size: xx-small;
}

#dynamicsLegend span { 
  width: 1em;
  height: 1em;
  margin-left:4em;
  margin-right:1em;
}

#dynamicsVis :not(#dynamicsVisSummary) polygon:not(.currentTl) { 
  stroke:#00000099;
  fill:#00000099;
}

/*
#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer1 {
  stroke:#a6cee399;
  fill:#a6cee399;
  background:#a6cee399;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer2 {
  stroke:#1f78b499;
  fill:#1f78b499;
  background:#1f78b499;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer3 {
  stroke:#b2df8a99;
  fill:#b2df8a99;
  background:#b2df8a99;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer4 {
  stroke:#33a92c99;
  fill:#33a92c99;
  background:#33a92c99;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer5 {
  stroke:#fb9a9999;
  fill:#fb9a9999;
  background:#fb9a9999;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer6 {
  stroke:#e31a1c99;
  fill:#e31a1c99;
  background:#e31a1c99;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer7 {
  stroke:#fdbf6f99;
  fill:#fdbf6f99;
  background:#fdbf6f99;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer8 {
  stroke:#ff7f0099;
  fill:#ff7f0099;
  background:#ff7f0099;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer9 {
  stroke:#cab2d699;;
  fill:#cab2d699;;
  background:#cab2d699;;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer10 {
  stroke:#6a3d9a99;
  fill:#6a3d9a99;
  background:#6a3d9a99;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer11 {
  stroke:#ffff9999;
  fill:#ffff9999;
  background:#ffff9999;
}

#dynamicsVis :not(#dynamicsVisSummary) .currentTl.layer12 {
  stroke:#b1592899;
  fill:#b1592899;
  background:#b1592899;
}
*/

#featureVisControls {
  position:relative;
  top: -40px;
  font-size: xx-small;
}


.selectDynamicsAggregate { 
  margin-left:1em;
  border-bottom: 2px solid lightgrey;
  display: inline-block;
  line-height: 0.85;
}
